#personaje {
  padding: 40px;
  /* background: rgba(8, 108, 6, 0.33); */

  backdrop-filter: blur(2px);
  color: #ffffff;
  border-radius: 20px;
  position: relative;
}

.fontH2 {
  color: #379c35;
}

#img-personaje {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 24px;
  border-radius: 5px;
}
.btn1 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #379c35;
  border-style: none;
}
