.App {
  text-align: center;
}

#background-image {
  background-image: url("./img/space.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#header {
  background: rgba(3, 71, 2, 0.24);
  position: fixed;
  width: 100%;
  z-index: 5;
  padding-top: 30px;
  padding-bottom: 30px;
}
